
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}
nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}
/* Container Styles */
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

/* Services Section Styles */
.services {
    background: #fff;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service-item {
    flex: 1 1 30%;
    background: #f4f4f4;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    margin-bottom: 0.5rem;
}

.service-item p {
    margin-bottom: 1rem;
}

.soc {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    padding: 10px 10PX;
    text-align: center;
}

.soc a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #b33131;
    text-decoration: none;
    margin: 0 12px;
}

.soc p{
    color: red;
    padding-top: 1%;
}